html {
  height: 100%;
  width: 100%;
}

/*12 Grid*/
.layout{
  border:2px blue solid;
  display: grid;
  grid: 
    "span12 span12 span12 span12 span12 span12 span12 span12 span12 span12 span12 span12" 1fr
    "span6 span6 span6 span6 span6 span6 . . . . . ." 1fr 
    ". . . . . span3 span3 span3 . . . ." 1fr
    ". . . . span1 . . . . . . ." 1fr
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 8px;
}
.span12{grid-area: span12; background-color:darkred}
.span6{grid-area: span6; background-color:darkred}
.span3{grid-area: span3; background-color:darkred}
.span1{grid-area: span1; background-color:darkred}

/*3x3 Grid*/
.layout2{
  width: 90%;
  height: 300px;
  border: 2px solid red;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap : 8px;
}

/*HOly Grail*/
.layout3{
  width: 99%;
  height: 300px;
  border: 2px solid navy;
  display: grid;
  grid:
    "header header header" auto
    "leftSide body rightSide" 1fr
    "footer footer footer" auto
    / auto 1fr auto;
  gap: 8px;
}
.header{grid-area: header; background-color: red;}
.leftSide{grid-area: leftSide; background-color: red;}
.body{grid-area: body; background-color: red;}
.rightSide{grid-area: rightSide; background-color: red;}
.footer{grid-area: footer; background-color: red;}

/*Sidebar*/
.layout4{
  width: 99%;
  height: 300px;
  border: 2px solid navy;
  display: grid;
  grid:
    "sidebar body2" 1fr
    / auto 1fr;
  gap: 8px;
}
.sidebar{grid-area:sidebar; background-color: blue;}
.body2{grid-area: body2; background-color: blue;}

/*Header Main Footer*/
.layout5{
  width: 99%;
  height: 300px;
  border: 2px solid red;
  display: grid;
  grid: 
    "header2" auto
    "main" 1fr
    "footer2" auto
    / 1fr;
  gap: 8px;
}
.header2{grid-area: header2; background-color: lightblue;}
.main{grid-area: main; background-color: lightblue;}
.footer2{grid-area: footer2; background-color: lightblue;}

/*Infinite Rows*/
.layout6{
  width: 99%;
  height: 300px;
  border: 2px solid blue;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

/*Infinte Rows with Area*/
.layout7{
  width: 99%;
  height: 300px;
  border: 2px solid red;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(3, 1fr);
  
  gap: 8px; 
}