/*ANIMATION*/

/*Translate*/
.translate{
  width:300px;
  height:100px;
  background-color: orange;
  border: 1px solid black;
  transform: translate(50px, 50px);
}

/*Rotate*/
.rotate{
  width:100px;
  height:100px;
  background-color: orange;
  border: 1px solid black;
}
#myDiv{
  transform: rotate(20deg);
}

/*Scale*/
.scale{
  width:100px;
  height:150px;
  background-color: orange;
  border: 1px solid black;
  margin:100px;
  transform: scale(2, 3);
}
/*ScaleX*/
.scaleX{
  width:100px;
  height:100px;
  background-color: orange;
  border: 1px solid black;
  margin:100px;
  transform: scaleX(2);
}
/*ScaleY*/
.scaleY{
  width:100px;
  height:100px;
  background-color: orange;
  border: 1px solid black;
  margin:100px;
  transform: scaleY(3);
}

/*Skew*/
.skew{
  width: 300px;
  height: 100px;  
  background-color: orange;
  border: 1px solid black;
  transform: skew(10deg, 10deg)
}
/*SkewX*/
.skewX{
  width: 300px;
  height: 100px;  
  background-color: orange;
  border: 1px solid black;
  transform: skewX(20deg)
}
/*SkewY*/
.skewY{
  width: 300px;
  height: 100px;  
  background-color: orange;
  border: 1px solid black;
  transform: skewY(20deg)
}

/*Matrix*/
#matrix{
  transform: matrix(1,-0.3,0,1,0,0);
}
#matrix2D{
  transform: matrix(1, 0, 0.5, 1, 150, 0);
}

/*Rotate in 3D*/
#rotate3DX{
  transform: rotateX(150deg);
}
#rotate3DY{
  transform: rotateY(150deg);
}
#rotate3DZ{
  transform: rotateZ(90deg);
}

/*Animate It*/
.rotate:hover {
  transform: translate3d(20px, 20px, 20px);
}


/*Decorate div class with perry*/
.perry{
  width: 100px;
  height: 100px;
  background-color: orange;
  border: 1px solid black;
  transition: width 2s, height 2s, background-color 3s;
}

/*Transitions*/
#transition:hover{
  width: 200px;
  height: 200px;
  background-color: blue;
}

/*Linear*/
#linear:hover{
  transition-timing-function: linear;
}

/*Ease*/
#ease:hover{
  transition-timing-function: ease;
  width: 200px;
  height: 200px;
  background-color: blue;
}

/*Ease In*/
#easeIn:hover{
  transition-timing-function: ease-in;
  width: 200px;
  height: 200px;
  background-color: blue;
}

/*Ease Out*/
#easeOut:hover{
  transition-timing-function: ease-out;
  width: 200px;
  height: 200px;
  background-color: blue;
}

/*Ease In Out*/
#easeInOut:hover{
  transition-timing-function: ease-in-out;
  width: 200px;
  height: 200px;
  background-color: blue;
}

/*Animate with div class phineas*/
.phineas{
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: background;
  animation-duration: 5s;
}

/*Animation Background*/
@keyframes background{
  from{background-color: red;}
  to{background-color: blue;}
}

/*Animation Background & Position*/
@keyframes position{
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
#position{
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: background;
  animation-duration: 5s;
}

/*Animation Delay*/
#delay{
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: position;
  animation-duration: 4s;
  animation-delay: 2s;
}
